<div class="media">
  <div class="media-body">
    <h4 class="media-heading">Did you lose your giftee?</h4>
    <p>I can resend it to you, but write it down this time.</p>
    <%= form_for @user, method: :put, html: {class: "form-inline"} do |f| %>
      <div class="form-group form-group-lg">
        <%= f.telephone_field :phone, autofocus: true, class: "form-control", placeholder: "555-555-5555" %>
        <%= f.submit "Send", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<div>
