<div class="media">
  <div class="media-body">
    <h4 class="media-heading">That's all <%= @user.name %>!</h4>
    <p>Your giftee is on it's way to <%= @user.phone %></p>
    <p>If you do not receive a text within the next few minutes or you entered the wrong phone # you can <%= link_to "Try Again", root_path %></p> 
  </div>
<div>
